@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color1: #f8f8f8f8;
  --bg-color2: #f4f4f4f4;
  --bg-color3: ;
  --heading-color: #212121;
  --text-color: #737373;
  --button-color: #abef5f;
  --hover-color: #abef5f80;
  --mobile-width: calc(100vw - 4px);
  --tablet-width: calc(100vw - 8px);
  --laptop-width: calc(100vw - 16px);
  --desktop-width: calc(100vw - 5rem);
  --mobile-h1-size: 1.75rem;
  --mobile-h2-size: 1.25rem;
  --mobile-p-size: 1rem;
  --mobile-line-height: 1.5;
  --tablet-h1-size: 2rem;
  --tablet-h2-size: 1.5rem;
  --tablet-p-size: 1rem;
  --tablet-line-height: 1.5;
  --laptop-h1-size: 2rem;
  --laptop-h2-size: 1.75rem;
  --laptop-p-size: 1.2rem;
  --laptop-line-height: 1.5;
  --desktop-h1-size: 3rem;
  --desktop-h2-size: 2rem;
  --desktop-p-size: 1.5rem;
  --desktop-line-height: 1.5;
}

header {
  display: flex;
  margin: 1rem auto;

  height: 4rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: var(--bg-color1);
  width: var(--desktop-width);
  justify-content: space-between;
  align-items: center;
}
header .logo {
  cursor: pointer;
  height: 2rem;
  display: flex;
  align-items: center;
  gap: 5px;
  padding-left: 5px;
  font-size: var(--desktop-h2-size);
}
.fa-tent-arrow-down-to-line {
  color: var(--button-color);
}
header .logo p {
  font-weight: bold;
}
header ul {
  display: flex;
  gap: 1rem;
  position: relative;
}
header ul li {
  overflow: hidden;
  height: 1.75rem;
  position: relative;
  border: 1px solid;
  border-radius: 3px;
}

header li a {
  position: relative;
  width: 100%;
  color: var(--text-color);
  padding: 0.5rem;
  font-weight: 500;
  z-index: 12;
}
header li a:hover {
  color: var(--heading-color);
}

header input[type="text"] {
  border: 2px solid var(--text-color);
  padding: 10px 10px;
  outline: none;
  border-radius: 0.5rem;
}
header input:focus {
  border: 2px solid var(--hover-color);
}
header .profile {
  height: 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.profile > i {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  display: flex;
  border-radius: 50%;
  font-size: var(--tablet-h2-size);
  background-color: white;
  justify-content: center;
  align-items: center;
}
.profile > i:hover {
  background-color: var(--hover-color);
}
.profile .button {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  background-color: var(--button-color);
  padding: 1rem;
  border-radius: 0.5rem;
}
.profile .button .fa-tent-arrow-down-to-line {
  color: black;
}
.profile .button:hover {
  background-color: var(--hover-color);
}
.profile .consult p {
  font-size: 1.25rem;
  font-weight: 500;
}
.profile .consult i {
  font-size: 1.25rem;
}

@media screen and (min-width: 1026px) {
  /* styles for large desktop screens */
  header {
    width: 1300px;
    height: 5rem;
  }
  .toggler {
    display: none;
  }
  header ul li {
    height: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  header ul li::after {
    content: "";
    position: absolute;
    width: 100%;
    display: block;
    height: 50px;
    background: #000;
    background: var(--hover-color);
    top: 2rem;
    border-radius: 50%;
    left: 0;
  }
  header ul li:hover::after {
    display: block;
    top: 0;
    left: 0;
    border-radius: 0;
    transition: 1s ease all;
  }
  .profile .fa-magnifying-glass {
    display: none;
  }
}
@media screen and (min-width: 769px) and (max-width: 1025px) {
  /* styles for laptop screens */
  header {
    width: 900px;
    height: 4rem;
    gap: 1rem;
  }
  header input {
    display: none;
  }
  header .logo {
    height: 1.5rem;
    width: 200px;
    font-size: 1.5rem;
  }
  header .links {
    width: 90%;
    margin: 0 auto;
    margin-left: 4rem;
  }
  header .links li {
    height: 1.5rem;
    border: none;
    align-items: center;
  }
  header .links li a {
    padding: 0;
    font-size: 1rem;
    align-items: center;
  }

  header .profile {
    margin-left: 1rem;
  }
  header .profile button {
    font-size: 1rem;
    padding: 0;
    width: 160px;
    height: 1.5rem;
  }
  header .profile button p {
    font-size: 1rem;
  }
  .profile > i {
    height: 1.75rem;
    width: 1.75rem;
    font-size: 0.75rem;
  }
  .toggler {
    display: none;
  }
}

@media screen and (min-width: 435px) and (max-width: 769px) {
  /* styles for tablet devices */
  header {
    width: 700px;
    justify-content: space-between;
  }
  header .logo {
    height: 1.25rem;
    width: 200px;
    font-size: 1rem;
  }
  header .links {
    display: none;
  }
  header input {
    display: none;
  }
  header .profile {
    width: 250px;
    margin-left: 5rem;
    align-self: flex-end;
  }
  header .profile button {
    font-size: 1rem;
    padding: 0;
    width: 160px;
    height: 1.5rem;
  }
  header .profile button p {
    font-size: 1rem;
  }
  .profile > i {
    height: 1.5rem;
    width: 1.5rem;
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 375px) and (max-width: 435px) {
  /* styles for mobile devices */
  header {
    width: 400px;
    padding: 1rem;
  }
  header .links {
    display: none;
  }
  header input {
    display: none;
  }
  header .profile {
    display: none;
  }
  header .logo {
    font-size: 1rem;
  }
}
